.remove-icon {
  display: block;
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 32px;
    width: 32px;
    transform: translate(-50%, -50%);
    svg {
      height: 100%;
      width: 100%;
      fill: $remove-color;
    }
  }
}