//Colors
$sky-light: #fff;
$bg-grey: #F9F9F9;
$accent-color: #48E0BE;
// $accent-color: #00E676;
$accent-blue: #4A90E2;
$text-color: #686868;
$love-color: #D00273;
$remove-color: #C1000B;


$black-onyx: #000;
$black-text: #374050;
$blood-red: #ff2600;
$pure-blue: #20b1ed;
$forest-green: #08bf5e;
$label-yellow: #ffd035;
$label-purpl: #bd10e0;
$fresh-orange: #fd8643;
$cloudy-grey: #9ca8b4;
$light-grey: #e4eaf0;
$light-grey2: #f2f6fa;

//Fonts
$default-font: "PT Sans", sans-serif;

//Layout
$layout-width: 960px;

$icons-color: darken($bg-grey, 30%);

