.filter-labels {
  padding: 0 5px;
  display: flex;
  align-items: center;
  &__item {
    margin-right: 8px;
    margin-bottom: 5px;
    -webkit-animation: scale 200ms ease both;
    animation: scale 200ms ease both;
    &--hide {
      -webkit-animation: fadeOutDown 1000ms linear both;
      animation: fadeOutDown 1000ms linear both;
    }
  }
}