.filter-labels {
  padding: 0 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__item {
    margin-right: 8px;
    margin-bottom: 5px;
    -webkit-animation: scale 200ms ease both;
    animation: scale 200ms ease both;
  }
}