$header-height: 76px;

.layout-header {
  // position: fixed;
  padding: 15px 0;
  height: $header-height;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  // transition: top 0.2s ease-in-out;
  background-color: white;
  z-index: 333;
  @include mq('tablet-wide', max) {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 14px;
  }
}

// .nav-up {
//   top: -$header-height;
// }

.header-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    height: 100%; 
    display: flex;
    align-items: center;
    &:last-child {
      margin-right: 0;
    }
    &_controls {
      float: right;
      height: 100%;
    }
  }
}