.layout-header {
  padding-top: 15px;
  height: 53px;
  display: block;
  width: 100%;
  @include mq('tablet-wide', max) {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 14px;
  }
}

.header-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    height: 100%; 
    display: flex;
    align-items: center;
    &:last-child {
      margin-right: 0;
    }
    &_controls {
      float: right;
      height: 100%;
    }
  }
}