.print-btn {
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  &:active {
    opacity: 0.5;
  }
  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    svg {
      fill: gray;
      transition: 0.2s;
      height: 25px;
      width: 25px; 
      @include mq('tablet-wide', max) {
        height: 28px;
        width: 28px;
      }
    }
    &--active {
      svg {
        fill: $love-color;
        -webkit-animation: favorite 2000ms linear both;
        animation: favorite 2000ms linear both;
      }
    }
  }

  &__text {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    @include mq('tablet-wide', max) {
      display: none;
    }
  }
}