.listening-preview-header {
  // @extend .clearfix;
  animation: fadeInDown 0.2s linear 0s both;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+19,000000+100&0.65+19,0+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 19%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 19%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 19%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  &__item {
    // &:first-child {
    //   float: left;
    // }
    &_headline {

    }
    &_price {
      flex: none;
    }
  }
}