.header-menu {
    // display: none;
  &__item {
    position: relative;
    display: inline-block;
    margin-right: 16px;
    height: 42px;
    padding: 12px 0;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        border-bottom: 1px solid black;
      }
    }
    &--active {
      a {
        border-bottom: 1px solid black;
      }
    }
  }
  @include mq('tablet-wide', max) {
    display: none;
  }
}