.header-menu {
  &__item {
    position: relative;
    display: inline-block;
    margin-right: 16px;
    height: 42px;
    padding: 12px 0;
    a {
      text-decoration: none;
      color: $black-text;
      &:hover {
        cursor: pointer;
        border-bottom: 1px solid $black-text;
      }
    }
  }
  @include mq('tablet-wide', max) {
    display: none;
  }
}