.panel-body {
  position: relative;
  width: 500px;
  left: 270px;
  top: -34px;
  @include mq('tablet-wide', max) {
    margin-top: 32px;
    position: relative;
    width: 100%;
    top: -87px;
    left: auto;
  }
}

.panel-body-content {
  @include mq('tablet-wide', max) {
    padding: 0 20%;
  }
  @include mq('tablet-small', max) {
    padding: 0 20px;
  }
  @include mq('phone', max) {
    padding: 0;
  }
}

.panel-body-menucontent {
  margin-top: 32px;
  margin-top: 46px; //while without menu
  @include mq('tablet-wide', max) {
    margin-top: 0;
  }
}

.panel-body-menu {
  &__item {
    display: inline-block;
    text-decoration: none;
    margin-right: 16px;
    font-weight: bold;
    font-size: 18px;
    color: gray;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    &--active {
      color: $accent-blue;
    }
  }
}