.panel-body {
  position: relative;
  width: 500px;
  left: 270px;
  top: -34px;
}

.panel-body-content {

}

.panel-body-menucontent {
  margin-top: 32px;
}

.panel-body-menu {
  &__item {
    display: inline-block;
    margin-right: 16px;
    font-weight: bold;
    font-size: 18px;
    color: gray;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    &--active {
      color: $accent-blue;
    }
  }
}