.panel-photo {
  position: absolute;
  top: 75px;
  left: 35px;
  width: 197px;
  height: 197px;
  z-index: 44;
  &:hover {
    .panel-photo__control {
      display: block;
    }
  }
  &__item {
    width: 197px;
    height: 197px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
  }
  &__control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 197px;
    padding: 80px 50px;
    text-align: center;
    height: 197px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
  }
  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 197px;
    padding: 80px 50px;
    text-align: center;
    height: 197px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    .panel-loader-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      color: white;
      font-size: 14px;
    }
    &--hide {
      display: none;
    }
  }
  &__tip {
    position: absolute;
    top: 100%;
    margin-top: 20px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    width: 200px;
    line-height: 18px;
    &:after {
      content: "";
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 10px 5px;
      border-color: transparent transparent #eee transparent;
    } 
  }
  @include mq('tablet-wide', max) {
    position: relative;
    top: -180px;
    left: auto;
    margin: 0 auto;
  }
}

.panel-photo-add, .panel-photo-remove {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.panel-photo-add {
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.panel-photo-remove {
  display: block;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  color: $remove-color;
}