.create-block-row {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  @include mq('tablet-wide', max) {
    display: block;
  }
  &__item {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-right: 16px;
    @include mq('tablet-wide', max) {
      width: 100%;
    }
    &:last-child {
      // flex: none;
      margin-right: 0;
      // width: 50%;
    }
  }
}