$menu-item_animation-step: 0.1s;
$menu-item_animation-name: fadeIn;
$menu-item_animation-duration: 500ms;

.main-menu-wrapper {
  position: fixed;
  width: 0;
  top: 100px;
  left: 50%;
  margin-top: -50px;
  margin-left: 0;
  z-index: 33;
  @include mq('tablet-wide', max) {
    // position: fixed;
    // top: 0;
    // left: 0;
    // min-width: 100%;
    // min-height: 100%;
    // background-color: rgba(255,255,255,0.95);
    // width: auto;
    // height: auto;
    // display: none;
    // overflow: hidden;
    // z-index: 201;
    // animation: fadeIn 0.2s ease 0s both;
    // /* Clear */
    // margin-top: 0;


    margin-top: 0;
    position: static;
    width: 100%;
    top: auto;
    left: auto;
    display: block;
    z-index: 0;
  }
  &--open {
    display: block;
  }
}
.main-menu {
  position: relative;
  top: 93px;
  left: -557px;
  width: 25px;
  &__item {
    text-decoration: none;
    color: gray;
    display: block;
    position: relative;
    margin-bottom: 26px;
    width: 25px;
    height: 25px;
    transition: transform .2s;
    /* Animation rock */
    &:nth-child(1) {
      animation: $menu-item_animation-name $menu-item_animation-duration ease $menu-item_animation-step both;
    }
    &:nth-child(2) {
      animation: $menu-item_animation-name $menu-item_animation-duration ease $menu-item_animation-step * 2 both;
    }
    &:nth-child(3) {
      animation: $menu-item_animation-name $menu-item_animation-duration ease $menu-item_animation-step * 3 both;
    }
    &:nth-child(4) {
      animation: $menu-item_animation-name $menu-item_animation-duration ease $menu-item_animation-step * 4 both;
    }
    &:hover > .main-menu-text {
      display: block;
    }
    &:active {
      svg {
        fill: darken(gray, 10%);
      }
    }
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
    svg {
      z-index: 444;
      position: relative;
      fill: gray;
      width: 25px;
      height: 25px;
      transition: 0.2s;
    }
    &--active {
      svg {
        fill: $accent-blue;
      }
      .main-menu-text {
        color: $accent-blue;
      }
    }
    @include mq('tablet-wide', max) {
      width: 100%;
      height: auto;
      margin-bottom: 0;
      text-align: center;
      &:hover > .main-menu-text {
        display: none;
      }
      svg {
        z-index: 0;
        width: 28px;
        height: 28px;
      }
      .main-menu-text {
        display: none;
      }
      &--active {
        svg {
          fill: $accent-blue;
        }
        // border-bottom: 3px solid $accent-blue;
      }
    }
    @include mq('phone', max) {
      svg {
        width: 22px;
        height: 22px;
      }
    }
  }
  @include mq('tablet-wide', max) {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 8px 10px rgba(0,0,0,0.1)
  }
  @include mq('phone-wide', max) {
    padding: 0;
    // margin-bottom: 20px;
  }
}

.mobile-menu-close-btn {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 24px;
  height: 48px;
  width: 48px;
  background-color: #eee;
  border-radius: 50%;
  margin-left: -24px; //for center
  &__icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 14px;
    width: 14px;
    transform: translate(-50%, -50%);
    fill: black;
  }
  &:hover {
    background-color: darken(#eee, 10%);
  }
  @include mq('tablet-wide', max) {
    display: none;
  }
}

.main-menu-text {
  display: none;
  //For mobile 
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;

  //For desktop (MIN)
  @include mq('tablet-wide', min) {
    white-space: nowrap;
    display: none;
    border-radius: 22px;
    box-shadow: 1px 1px 9px rgba(0,0,0,0.1);
    left: -9px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 41px;
    padding-right: 13px;
    top: -7px;
    position: absolute;
    z-index: 223;
    background-color: #eee;
    font-size: 16px;
    animation: fadeIn 0.2s ease 0s both;
  }
}