.main-menu-wrapper {
  position: fixed;
  width: 0;
  top: 100px;
  left: 50%;
  margin-top: -50px;
  margin-left: 0;
}
.main-menu {
  position: relative;
  top: 93px;
  left: -557px;
  width: 25px;
  
  &__item {
    display: block;
    position: relative;
    margin-bottom: 26px;
    width: 25px;
    height: 25px;
    transition: transform .2s;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      svg {
        fill: $accent-blue;
        cursor: pointer;
      }
    }
    &:active {
      cursor: pointer;
    }
    svg {
      fill: gray;
      width: 25px;
      height: 25px;
      transition: 0.2s;
    }
    &--active {
      -webkit-animation: animation 1000ms linear both;
      animation: animation 1000ms linear both;
      svg {
        fill: $accent-blue;
      }
    }
  }
}