.sign-wrapper {
  padding: 50px 0;
}
.headline-login {
  color: $text-color;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.headline-login-desc {
  width: 100%;
  text-align: center;
  color: lighten($text-color, 30%);
}

.login-logo {
  text-align: center;
  .logo-img img {
    margin: 0 auto;
    width: 50px;
    height: 50px;
  }
}

.login-item {
  width: 100%;
  margin: 15px 0;
  padding: 0 30px;
  .simple-btn.simple-btn_blue {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
  }
  .simple-btn_fb {
    margin-bottom: 5px;
  }
  @include mq('tablet-small', max) {
    padding: 0;
  }
}

.login-item-forgot {
  font-weight: bold;
  color: lighten($text-color, 30%);
  font-size: 12px;
  a {}
  &_center {
    text-align: center;
  }
}

.login-item-separator {
  width: 100%;
  border-bottom: 1px solid lighten($text-color, 40%);
  text-align: center;
  margin: 10px 0 30px;
  &__text {
    width: 40px;
    height: 20px;
    position: relative;
    top: 12px;
    left: 50%;
    margin-left: -20px;
    background-color: white;
    font-size: 14px;
    color: $text-color;
    text-align: center;
  }
}

.login-link {
  font-weight: bold;
  color: $accent-blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.login-footer {
  text-align: center;
}

.login-copyright {
  opacity: 0.5;
}
