.profile {
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  &:hover > .profile-icon {
    opacity: 0.5;
  }
  &--expanded {
    .profile-icon {
      transform: rotate(180deg);
    }
  }
}

.profile-img {
  margin-right: 5px;
  width: auto;
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 1px solid darken($bg-grey, 20%);
  // img {
  //   height: 100%;
  //   width: 100%;
  //   border-radius: 50%;
    
  // }
}

.profile-name {
  white-space: nowrap;
  overflow: hidden;
  max-width: 96px;
  text-overflow: ellipsis;
  flex: 1;
  color: darken($bg-grey, 30%);
  // color: black;
  font-size: 12px;
  font-weight: bold;
}

.profile-desc {
  color: darken($bg-grey, 20%);
  font-size: 10px;
  font-weight: 200;
}

.profile-icon {
  transition: transform 0.2s;
  margin-left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: darken($bg-grey, 30%) transparent transparent transparent;
  @include mq('phone', max) {
    margin-left: 2px;
  }
}

.profile-actions {
  display: flex;
  align-items: center;
}

.profile-actions-item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0
  }
  &__icon {
    svg {
      fill: $icons-color;
    }
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
    &:active {
      opacity: 0.7;
    }
  }
}
.profile-menu-content {
  position: absolute;
  top: 110%;
  left: auto;
  background-color: white;
  width: 150px;
  display: none;
  border-radius: 3px;
  border: 1px solid lighten($text-color, 50%);
  z-index: 7;
  &--expanded {
    display: block;
  }
  @include mq('tablet-wide', max) {
    top: 43px;
  }
  @include mq('tablet-small', max) {
    right: 1px;
  }
}

.profile-menu {
  &__item {
    border-bottom: 1px solid lighten($text-color, 50%);
    font-size: 12px;
    padding: 10px;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      cursor: pointer;
      background-color: lighten($text-color, 55%);
    }
  }
}