.empty-banner-wrapper {
  width: 57%;
  text-align: center;
  margin: 0 auto;

}

.empty-banner {
  margin-bottom: 16px;
  text-align: center;
  padding-top: 57px;
}

.cat {
  
  svg {
    width: auto;
    height: auto;
    fill: #dcdcdc;
  }
}

.cat-text {
  color: #dcdcdc;
  font-size: 15px;
  width: 38%;
  margin: 15px auto 0;
}