.svg-icon-lib {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.ico-remove-wrapper {
  .ico-remove {
    fill: $remove-color;
  }
}
.ico-3d {
  width: 17px;
  height: 17px;
}

.ico-add-photo {
  width: 28px;
  height: 26px;
}

.ico-auto {
  width: 18px;
  height: 16px;
}

.ico-building {
  width: 15px;
  height: 13px;
}

.ico-card {
  width: 20px;
  height: 16px;
}

.ico-cat {
  width: 413px;
  height: 413px;
}

.ico-close {
  width: 14px;
  height: 14px;
}

.ico-contacts {
  width: 18px;
  height: 20px;
}

.ico-create {
  width: 26px;
  height: 26px;
}

.ico-dashboard {
  width: 18px;
  height: 18px;
}

.ico-done {
  width: 21px;
  height: 16px;
}

.ico-edit {
  width: 18px;
  height: 18px;
}

.ico-euro {
  width: 18px;
  height: 18px;
}

.ico-event {
  width: 12px;
  height: 14px;
}

.ico-eye {
  width: 561px;
  height: 561px;
}

.ico-face {
  width: 23px;
  height: 23px;
}

.ico-favorite {
  width: 13px;
  height: 13px;
}

.ico-fullscreen {
  width: 14px;
  height: 14px;
}

.ico-general-info {
  width: 16px;
  height: 14px;
}

.ico-graph-up {
  width: 20px;
  height: 12px;
}

.ico-help {
  width: 16px;
  height: 16px;
}

.ico-history {
  width: 14px;
  height: 14px;
}

.ico-home {
  width: 16px;
  height: 13px;
}

.ico-hot {
  width: 20px;
  height: 28px;
}

.ico-hotel {
  width: 18px;
  height: 18px;
}

.ico-love-transp {
  width: 16px;
  height: 14px;
}

.ico-love {
  width: 13px;
  height: 13px;
}

.ico-menu {
  width: 18px;
  height: 12px;
}

.ico-messanges {
  width: 13px;
  height: 13px;
}

.ico-new {
  width: 26px;
  height: 26px;
}

.ico-next {
  width: 477.175px;
  height: 477.175px;
}

.ico-next_prev {
  width: 8px;
  height: 8px;
}

.ico-notif {
  width: 15px;
  height: 18px;
}

.ico-picture {
  width: 18px;
  height: 18px;
}

.ico-print {
  width: 20px;
  height: 18px;
}

.ico-ratio {
  width: 15px;
  height: 13px;
}

.ico-receipt {
  width: 13px;
  height: 15px;
}

.ico-remove {
  width: 18px;
  height: 18px;
}

.ico-search {
  width: 18px;
  height: 18px;
}

.ico-settings {
  width: 15px;
  height: 15px;
}

.ico-share {
  width: 12px;
  height: 14px;
}

.ico-teatr {
  width: 11px;
  height: 12px;
}

