/* Headlines */
h1.large-headline {
  font-weight: bold;
  font-size: 36px;
}

h2.medium-headline {
  font-weight: bold;
  font-size: 24px;
}

h3.small-headline {
  font-weight: bold;
  font-size: 18px;
}

h4.tiny-headline {
  font-weight: bold;
  font-size: 16px;
}

/* Paragraphs */
p.large-parag {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

p.medium-parag {
  font-weight: normal;
  font-size: 14px;
}

p.small-parag {
  font-weight: normal;
  font-size: 12px;
}
