.main-content {
  width: 100%;
  min-height: 70vh;
  padding-bottom: 16px;
  position: relative;
  z-index: 6;
  animation: fadeInDown 0.2s ease 0.2s both;
  @include mq('tablet-wide', max) {
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
}