$logo-size: 36px;
$gradient-opacity: 60%;

.header-logo {
  width: 125px;
  display: block;
  color: black;
  text-decoration: none;
  margin-right: 32px;
  &__item {
    display: inline-block;
    vertical-align: middle;
  }
  transition: opacity .2s;
  &:hover {
    opacity: 0.5;
  }
  @include mq('tablet-wide', max) {
    margin-right: 5px;
  }
  @include mq('tablet-small', max) {
    &:hover {
      opacity: 1;
    }
  }
}

.header-logo-img {
  position: relative;
  margin-right: 5px;
  width: auto;
  height: $logo-size;
  width: $logo-size;
  overflow: hidden;
  img {
    position: relative;
    z-index: 2;
    height: $logo-size;
    width: $logo-size;
  }
}

.header-logo-name {
  font-size: 18px;
  font-weight: bold;
}

.header-logo-desc {
  font-size: 14px;
  font-weight: 200;
}


.glide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  height: $logo-size;
  width: $logo-size;
  display: none;
  &__shadow {
    animation: animationGlide 1500ms ease 0s infinite;
    width: $logo-size;
    height: $logo-size;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) $gradient-opacity, rgba(255,255,255,0.01) 99%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) $gradient-opacity,rgba(255,255,255,0.01) 99%,rgba(255,255,255,0) 100%); 
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) $gradient-opacity,rgba(255,255,255,0.01) 99%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
    display: block;
  }
  &--loading {
    display: block;
  }
}

@keyframes animationGlide {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes animationGlide {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}