.header-logo {
  width: 125px;
  display: block;
  color: black;
  text-decoration: none;
  margin-right: 32px;
  &__item {
    display: inline-block;
    vertical-align: middle;
  }
  transition: opacity .2s;
  &:hover {
    opacity: 0.5;
  }
  @include mq('tablet-wide', max) {
    margin-right: 5px;
  }
  @include mq('tablet-small', max) {
    &:hover {
      opacity: 1;
    }
  }
}

.header-logo-img {
  margin-right: 5px;
  width: auto;
  height: 36px;
  img {
    height: 100%;
  }
}

.header-logo-name {
  font-size: 18px;
  font-weight: bold;
}

.header-logo-desc {
  font-size: 14px;
  font-weight: 200;
}