.separator {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  &__text {
    font-weight: bold;
    font-size: 18px;
    color: black;
    @include mq('phone', max) {
      font-size: 14px;
    }
  }
  @include mq('phone', max) {}
}