.paginate-wrapper {
  padding-top: 70px;
}
.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  &__item {
    display: flex;
    border-radius: 50%;
    margin-right: 8px;
    height: 33px;
    width: 33px;
    &--active {
      background-color: $accent-blue;
      .paginate-text {color: white}
    }
    transition: .2s;
    &:hover {
      cursor: pointer;
      background-color: #eee;
    }
  }
}

.paginate-text {
  font-size: 14px;
  font-weight: bold;
  margin: auto;
}