.listening-subinfo {
  display: flex;
  align-items: center;
  margin-top: 8px;
  &__item {
    margin-right: 16px;
    display: flex;
    align-items: center;
  }
}

.listening-subinfo-icon {
  margin-right: 6px;
  svg {
    fill: gray;
    height: 18px;
    width: 18px;
  }
}


.listening-subinfo-text {
  font-size: 18px;

  @include mq('tablet-small', max) {
    font-size: 14px;
  }
  @include mq('phone', max) {
    font-size: 12px;
  }
}