.listening-info-header {
  @extend .clearfix;
  &__item {
    .large-headline {
      margin-bottom: 5px;
    }
    display: block;
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
  }
}