.listening-photo-wrapper {
  .image-gallery-image {
    height: 100%;
  }
  .image-gallery-slide {
    height: 100%;
  }
  .image-gallery-slides {
    height: 600px;
    @include mq('tablet-wide', max) {
      height: 500px;
    }
    @include mq('tablet-small', max) {
      height: 350px;
    }
    @include mq('phone', max) {
      height: 250px;
    }
  }
}