.listening-info-profile {
  margin: 20px 0;
  .profile {
    margin-right: 15px;
    display: flex;
    align-items: center;
    &:hover {
      cursor: default;
    }
  }

  .profile-img {
    margin-right:  8px;
    width: auto;
    height: 50px;
    width: 50px;
    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: 1px solid darken($bg-grey, 20%);
    }
  }

  .profile-name {
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
    flex: 1;
    color: black;
    font-size: 18px;
    font-weight: bold;
  }

  .profile-desc {
    color: black;
    font-size: 14px;
    font-weight: normal;
  }
  .profile-icon {
    display: none;
  }
}