.listening-info-header {
  display: flex;
  justify-content: space-between;
  &__item {
    .large-headline {
      margin-bottom: 5px;
      max-width: 800px;
      line-height: 42px;
    }
    .medium-parag {
      margin-bottom: 5px;
    }
  }
}