$filter-btn_icon-url: url("../img/icons/svg/ico-search.svg");
$filter-btn_icon-url--close: url("../img/icons/svg/ico-close.svg");

/* button on mobile  */
.filter-btn-mobile {
  display: none;
  z-index: 99;
  box-shadow: 0 5px 8px rgba(0,0,0,0.2);
  @include mq('tablet-wide', max) {
    display: block;
  }
}

/* button on desktop */
.filter-btn {
  &:hover {
    cursor: pointer;
    background-color: darken($accent-blue, 10%);
  }
  position: absolute;
  right: -50px;
  top: 11px;
  border: 0;
  outline: 0;
  background-color: $accent-blue;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  transition: background-color 0.2s;
  z-index: 5;
  &__icon {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-repeat: no-repeat;
    background-image: $filter-btn_icon-url;
  }
  &--close {
    &:hover {
      background-color: darken(#D0021B, 10%);
    }
    background-color: #D0021B;
    .filter-btn__icon {
      background-image: $filter-btn_icon-url--close;
    }
  }
  @include mq('tablet-wide', max) {
    position: fixed;
    top: auto;
    bottom: 20px;
    right: 10px;
  }
}