/* Filter on mobile */
.filter-wrapper-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #ffffff;
  width: auto;
  height: 100%;
  overflow: auto;
  z-index: 201;
  @include mq('tablet-wide', max) {
    &--open {
      display: block;
    }
  }
}

/* Filter on desktop */
.filter-wrapper {
  position: absolute;
  display: block;
  top: 60px;
  right: 0;
  width: 300px;
  z-index: 5;
  @include mq('tablet-wide', max) {
    display: none;
  }
}

.filter {
  width: 100%;
  padding: 0 16px;
  padding-bottom: 32px;
  display: none;
  z-index: 0;
  @include mq('tablet-wide', max) {
    display: block;
    height: 100%;
    padding: 16px;
    padding-bottom: 64px; //for buttons
  }
  &--show {
    display: block;
    transition: opacity 0.5s;
    z-index: 0;
  }
}

.filter-block {
  padding: 10px 0;
  border-radius: 5px;
  &:first-child {
    padding-top: 0;
  }
  //Modifications
  &_double {
    .filter-block-item__name {
      max-width: 82px;
      overflow: hidden;
    }
  }
  &:hover {}
}

.filter-block-item {
  width: 100%;
  margin-bottom: 10px;
  &__name {
    font-size: 12px;
    margin-left: 5px;
  }
  &__input {
    width: 60%;
  }
}

.filter-items-wrapper {}

.filter-block-name {
  z-index: 0;
  display: inline-block;
  height: 20px;
  font-weight: bold;
}

.filter-block-content {}

.filter-actions {
  text-align: center;

  &__item {
    button {
      width: 100%;
      @include mq('tablet-wide', max) {
        box-shadow: 0 2px 8px rgba(0,0,0,0.2) !important; //sorry 
      }
    }
    display: inline-block;
    width: 49%;
    padding-right: 10px;
    &:last-child {
      padding-right: 0;
    }
  }

  @include mq('tablet-wide', max) {
    position: fixed;
    bottom: 22px;
    left: 42%;
    transform: translateX(-50%);
    width: 80%;
  }
}