/* Filter on mobile */
.filter-wrapper-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(255,255,255,0.95);
  width: auto;
  height: auto;
  overflow: hidden;
  z-index: 201;
  &--open {
    display: block;
  }
}

/* Filter on desktop */
.filter-wrapper {
  position: absolute;
  display: block;
  top: 60px;
  right: 0;
  width: 300px;
  z-index: 5;
  @include mq('tablet-wide', max) {
    display: none;
  }
}

.filter {
  width: 100%;
  padding: 0 16px;
  padding-bottom: 32px;
  display: none;
  z-index: 0;
  @include mq('tablet-wide', max) {
    display: block;
    
  }
  &--show {
    display: block;
    transition: opacity 0.5s;
    z-index: 0;
  }
}

.filter-block {
  padding: 10px 0;
  border-radius: 5px;
  &:first-child {
    padding-top: 0;
  }
  //Modifications
  &_double {
    .filter-block-item__name {
      max-width: 82px;
      overflow: hidden;
    }
  }
  &:hover {}
}

.filter-block-item {
  width: 100%;
  margin-bottom: 10px;
  &__name {
    font-size: 12px;
    margin-left: 5px;
  }
  &__input {
    width: 60%;
  }
}

.filter-items-wrapper {}

.filter-block-name {
  z-index: 0;
  display: inline-block;
  height: 20px;
  font-weight: bold;
}

.filter-block-content {}

.filter-actions {
  text-align: center;
  &__item {
    button {
      width: 100%;
    }
    display: inline-block;
    width: 49%;
    padding-right: 10px;
    &:last-child {
      padding-right: 0;
    }
  }
}