.about-block {
  margin-bottom: 32px;
  &__headline {
    margin-bottom: 11px;
    h1 {
      font-weight: bold;
      font-size: 24px;
    }
  }
  &__text {
    p {
      font-weight: normal;
      font-size: 16px;
      margin-bottom: 6px;
      line-height: 21px;
    }
  }
}